In [4]:
!pip install pyarrow

Collecting pyarrow
  Obtaining dependency information for pyarrow from https://files.pythonhosted.org/packages/a1/14/4ffed5e85b96f0c0ae9e026f940bf71ac7dfbfbffff9f3fe339e32bfce2c/pyarrow-13.0.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata
  Downloading pyarrow-13.0.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/.local/lib/python3.10/site-packages (from pyarrow) (1.26.0)
Downloading pyarrow-13.0.0-cp310-cp310-manylinux_2_28_x86_64.whl (40.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.0/40.0 MB 19.3 MB/s eta 0:00:00:00:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-13.0.0

In [7]:
import pandas as pd
pd.read_parquet(
    'ethglobal/my_table/export178f0a91495ff1290000000000000001-n909367062234038273.0.parquet'
    , engine='pyarrow'
    )

   id   val
0   1  val1
1   2  val2

In [2]:
import pandas as pd
pd.read_parquet(
    'govchainboard2/users/export178e1ed33c391e900000000000000001-n908517710768766977.0.parquet'
    , engine='pyarrow'
    )

   id               name                 email
0   4  Ejemplo Usuario 4  usuario4@example.com
1   5  Ejemplo Usuario 3  usuario3@example.com
2   6  Ejemplo Usuario 5  usuario5@example.com
3   7  Ejemplo Usuario 6  usuario6@example.com
4   8  Ejemplo Usuario 7  usuario7@example.com

In [3]:
import pandas as pd
pd.read_parquet(
    'govchainboard2/users/export178e1ed3421686800000000000000001-n908517711092285441.0.parquet'
    , engine='pyarrow'
    )

   id               name                 email
0   4  Ejemplo Usuario 4  usuario4@example.com
1   5  Ejemplo Usuario 3  usuario3@example.com
2   6  Ejemplo Usuario 5  usuario5@example.com
3   7  Ejemplo Usuario 6  usuario6@example.com
4   8  Ejemplo Usuario 7  usuario7@example.com